# Preprocessing

In [ ]:
import PyPDF2

def find_page_with_sentence(pdf_path, target_sentence):
    with open(pdf_path, 'rb') as pdf_file:
        pdf_reader = PyPDF2.PdfReader(pdf_file)
        
        for page_number, page in enumerate(pdf_reader.pages, start=0):
            page_text = page.extract_text()
            
            if target_sentence in page_text:
                return page_number
        
        return None

# Provide the path to your PDF file and the target sentence
pdf_path = '/home/somesh/Documents/Hello_ML/downloaded_pdfs/01.02.2018cwcbull.pdf'
target_sentence = 'Region wise storage status'

page_number = find_page_with_sentence(pdf_path, target_sentence)

if page_number is not None:
    print(f"The target sentence was found on page {page_number}.")
else:
    print("The target sentence was not found in the PDF.")

In [ ]:
import os
import pdfplumber
import pandas as pd

def process_pdf(pdf_path,date):
    # Add your processing logic here, e.g., extracting data, scraping, etc.
    # Open the PDF file
    # df = pd.DataFrame()
    target_sentence = 'Region wise storage status'
    idx=page_number = find_page_with_sentence(pdf_path, target_sentence)
    with pdfplumber.open('/home/somesh/Documents/Hello_ML/downloaded_pdfs/01.02.2018cwcbull.pdf') as pdf:
        # Assuming the table is on the first page (index 0)
        if idx != None:
            first_page = pdf.pages[idx]
            # Extract the table using the "extract_table" method
            table = first_page.extract_table()

    if idx != None:
        # Print the extracted table
        # try:
        df_page = pd.DataFrame(table[1:], columns=table[0])
        df_page["Date"] = date
        # df_updated = pd.concat(df,df_page)
        # df = df_updated
        # print("SUCCESS")
        # except:
        #     print("Error processing file "+str(pdf_path))
        # for row in table:
        #     print(row)
        print("Processing PDF:", pdf_path)
    else:
        df_page = pd.DataFrame()

    return df_page

def traverse_pdf_folder(folder_path):
    df = pd.DataFrame()
    date = "None"
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith(".pdf"):
                pdf_path = os.path.join(root, file)
                date = get_date(pdf_path)
                df_page = process_pdf(pdf_path,date)
                if df_page.size !=0:
                    try:
                        df = pd.concat([df,df_page],axis=0)
                    except:
                        print("ERROR")
    return df

# Provide the path to the folder containing the PDF files
folder_path = 'downloaded_pdfs'

df = traverse_pdf_folder(folder_path)

In [3]:
df

,Unnamed: 0,"REGION (States),\n(Monitoring No. of\nReservoirs)",Filling position of 91 reservoirs w.r.t. FRL,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Departure from Normal\nstorage,Unnamed: 11,Unnamed: 12,Date
0,0,NaN,100%,91%-\n99%,81%-\n90%,71%-\n80%,61%-\n70%,51%-\n60%,41%-\n50%,40% &\nbelow,NaN,NaN,NaN,14.06.2018
1,1,"NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)",-,-,-,-,1,1,1,3,H.P.\nPUNJAB\nRAJASTHAN,1,%\n%\n%,14.06.2018
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37\n7,NaN,14.06.2018
3,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,JHARKHAND\nODISHA\nW. BENGAL\nTRIPURA,9\n1\n117\n173,%\n%\n%\n%,14.06.2018
4,4,"WEST (Guj.& Mah.),\n(27 Resv.)",-,1,2,6,5,4,-,9,GUJARAT\nMAH.,-31\n16,%\n%,14.06.2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",-,-,-,-,2,3,1,6,U.P.\nUTTARAKHAND\nM.P.\nCHHATISGARH,-2\n-20\n-12\n-5,%\n%\n%\n%,21.06.2018
2746,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",-,2,1,-,1,6,4,17,"AP&TG\nA,P\nTG\nKARNATAKA\nKERALA\nT.N.",-30,%,21.06.2018
2747,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33,%,21.06.2018
2748,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1\n-11\n10\n-61,%\n%\n%\n%,21.06.2018
2749,9,Status of 91 reservoirs,2,4,5,8,10,17,8,37,NaN,NaN,NaN,21.06.2018

In [4]:
# Renaming columns

new_column_names = {
    "Unnamed: 0" : "Index",
    "REGION (States),\n(Monitoring No. of\nReservoirs)" : "REGION",
    "Filling position of 91 reservoirs w.r.t. FRL" : "100%",
    "Unnamed: 3" : "91-99%",
    "Unnamed: 4" : "81-90%",
    "Unnamed: 5" : "71-80",
    "Unnamed: 6" : "61-70%",
    "Unnamed: 7" : "51-60%",
    "Unnamed: 8" : "41-50%",
    "Unnamed: 9" : "40%-below"
}
df.rename(columns=new_column_names,inplace=True)

In [5]:
from datetime import datetime
def convert_date_format(input_date):
    # Parse the input date string in DD/MM/Y format
    input_format = "%d.%m.%Y"
    parsed_date = datetime.strptime(input_date, input_format)
    
    # Convert the parsed date object to Y/MM/DD format
    output_format = "%Y.%m.%d"
    converted_date = parsed_date.strftime(output_format)
    
    return converted_date

In [6]:
df["Date"]=df["Date"].apply(lambda x: convert_date_format(x) if not isinstance(x,float) else x)

In [7]:
df

,Index,REGION,100%,91-99%,81-90%,71-80,61-70%,51-60%,41-50%,40%-below,Departure from Normal\nstorage,Unnamed: 11,Unnamed: 12,Date
0,0,NaN,100%,91%-\n99%,81%-\n90%,71%-\n80%,61%-\n70%,51%-\n60%,41%-\n50%,40% &\nbelow,NaN,NaN,NaN,2018.06.14
1,1,"NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)",-,-,-,-,1,1,1,3,H.P.\nPUNJAB\nRAJASTHAN,1,%\n%\n%,2018.06.14
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37\n7,NaN,2018.06.14
3,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,JHARKHAND\nODISHA\nW. BENGAL\nTRIPURA,9\n1\n117\n173,%\n%\n%\n%,2018.06.14
4,4,"WEST (Guj.& Mah.),\n(27 Resv.)",-,1,2,6,5,4,-,9,GUJARAT\nMAH.,-31\n16,%\n%,2018.06.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",-,-,-,-,2,3,1,6,U.P.\nUTTARAKHAND\nM.P.\nCHHATISGARH,-2\n-20\n-12\n-5,%\n%\n%\n%,2018.06.21
2746,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",-,2,1,-,1,6,4,17,"AP&TG\nA,P\nTG\nKARNATAKA\nKERALA\nT.N.",-30,%,2018.06.21
2747,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33,%,2018.06.21
2748,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1\n-11\n10\n-61,%\n%\n%\n%,2018.06.21
2749,9,Status of 91 reservoirs,2,4,5,8,10,17,8,37,NaN,NaN,NaN,2018.06.21

In [8]:
# Dropping rows with nan values

mask = df["REGION"].apply(lambda x: not isinstance(x,float))
df = df[mask]

In [10]:
df.reset_index()

,index,Index,REGION,100%,91-99%,81-90%,71-80,61-70%,51-60%,41-50%,40%-below,Departure from Normal\nstorage,Unnamed: 11,Unnamed: 12,Date
0,1,1,"NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)",-,-,-,-,1,1,1,3,H.P.\nPUNJAB\nRAJASTHAN,1,%\n%\n%,2018.06.14
1,3,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,JHARKHAND\nODISHA\nW. BENGAL\nTRIPURA,9\n1\n117\n173,%\n%\n%\n%,2018.06.14
2,4,4,"WEST (Guj.& Mah.),\n(27 Resv.)",-,1,2,6,5,4,-,9,GUJARAT\nMAH.,-31\n16,%\n%,2018.06.14
3,5,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",-,-,-,-,2,3,1,6,U.P.\nUTTARAKHAND\nM.P.\nCHHATISGARH,-2\n-20\n-12\n-5,%\n%\n%\n%,2018.06.14
4,6,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",-,2,1,-,1,6,4,17,"AP&TG\nA,P\nTG\nKARNATAKA\nKERALA\nT.N.",-30,%,2018.06.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,2743,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,JHARKHAND\nODISHA\nW. BENGAL\nTRIPURA,9\n1\n117\n173,%\n%\n%\n%,2018.06.21
1646,2744,4,"WEST (Guj.& Mah.),\n(27 Resv.)",-,1,2,6,5,4,-,9,GUJARAT\nMAH.,-31\n16,%\n%,2018.06.21
1647,2745,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",-,-,-,-,2,3,1,6,U.P.\nUTTARAKHAND\nM.P.\nCHHATISGARH,-2\n-20\n-12\n-5,%\n%\n%\n%,2018.06.21
1648,2746,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",-,2,1,-,1,6,4,17,"AP&TG\nA,P\nTG\nKARNATAKA\nKERALA\nT.N.",-30,%,2018.06.21
1649,2749,9,Status of 91 reservoirs,2,4,5,8,10,17,8,37,NaN,NaN,NaN,2018.06.21

In [13]:
df.drop("Departure from Normal\nstorage",axis=1,inplace=True)

/tmp/ipykernel_142839/615535490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Departure from Normal\nstorage",axis=1,inplace=True)

In [16]:
df.drop("Unnamed: 11",axis=1,inplace=True)
df.drop("Unnamed: 12",axis=1,inplace=True)

/tmp/ipykernel_142839/2241751000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Unnamed: 11",axis=1,inplace=True)
/tmp/ipykernel_142839/2241751000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Unnamed: 12",axis=1,inplace=True)

In [17]:
df

,Index,REGION,100%,91-99%,81-90%,71-80,61-70%,51-60%,41-50%,40%-below,Date
1,1,"NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)",-,-,-,-,1,1,1,3,2018.06.14
3,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,2018.06.14
4,4,"WEST (Guj.& Mah.),\n(27 Resv.)",-,1,2,6,5,4,-,9,2018.06.14
5,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",-,-,-,-,2,3,1,6,2018.06.14
6,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",-,2,1,-,1,6,4,17,2018.06.14
...,...,...,...,...,...,...,...,...,...,...,...
2743,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,2018.06.21
2744,4,"WEST (Guj.& Mah.),\n(27 Resv.)",-,1,2,6,5,4,-,9,2018.06.21
2745,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",-,-,-,-,2,3,1,6,2018.06.21
2746,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",-,2,1,-,1,6,4,17,2018.06.21
2749,9,Status of 91 reservoirs,2,4,5,8,10,17,8,37,2018.06.21

In [19]:
df.replace('-',0,inplace=True)

/tmp/ipykernel_142839/1628257826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-',0,inplace=True)

In [20]:
df0 = df.copy()

In [56]:
df0

,Index,REGION,100%,91-99%,81-90%,71-80,61-70%,51-60%,41-50%,40%-below,Date
1,1,"NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)",0,0,0,0,1,1,1,3,2018.06.14
3,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,2018.06.14
4,4,"WEST (Guj.& Mah.),\n(27 Resv.)",0,1,2,6,5,4,0,9,2018.06.14
5,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",0,0,0,0,2,3,1,6,2018.06.14
6,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",0,2,1,0,1,6,4,17,2018.06.14
...,...,...,...,...,...,...,...,...,...,...,...
2743,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,2018.06.21
2744,4,"WEST (Guj.& Mah.),\n(27 Resv.)",0,1,2,6,5,4,0,9,2018.06.21
2745,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",0,0,0,0,2,3,1,6,2018.06.21
2746,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",0,2,1,0,1,6,4,17,2018.06.21
2749,9,Status of 91 reservoirs,2,4,5,8,10,17,8,37,2018.06.21

In [21]:
# Loading Rainfall Data

df_rainfall = pd.read_csv('All-India-Rainfall-Act_Dep_1901_to_2019_0.csv')

In [22]:
df_rainfall

     YEAR     JUN     JUL     AUG     SEP  JUN-SEP
0    1901   111.0   243.2   273.6   124.6    752.4
1    1902   109.0   282.8   201.8   201.0    794.7
2    1903   117.0   292.0   271.7   200.9    881.7
3    1904   165.2   263.1   205.2   131.7    765.2
4    1905    92.3   254.9   201.4   180.0    728.6
..    ...     ...     ...     ...     ...      ...
115  2016   147.0   308.4   239.4   168.8    863.7
116  2017   171.9   290.5   228.3   153.0    843.7
117  2018   155.7   273.8   240.5   132.3    802.4
118  2019   112.9   296.7   299.3   260.4    969.4
119  2020  1097.1  1097.1  1097.1  1097.1   1097.1

[120 rows x 6 columns]

In [42]:
# Loading Floods Data

df_floods =  pd.read_json('flood.json')

In [43]:
df_floods

             state    basin  start_date    end_date
0      Uttarakhand  CENTRAL  2015-08-14  2015-08-20
1        Jharkhand     EAST  2015-07-22  2015-08-08
2          Gujarat     WEST  2017-07-21  2017-08-02
3        Karnataka    SOUTH  2019-08-01  2019-08-11
4           Odisha     EAST  2020-08-27  2020-09-05
5        Rajasthan    NORTH  2017-07-21  2017-07-24
6           Kerala    SOUTH  2018-08-08  2018-08-19
7      Maharashtra     WEST  2019-07-22  2019-08-08
8    Uttar Pradesh  CENTRAL  2017-08-11  2017-08-31
9   Andhra Pradesh    SOUTH  2019-08-01  2019-08-19
10           Bihar     EAST  2017-08-12  2017-08-31
11      Tamil Nadu    SOUTH  2015-11-09  2015-12-01
12     West Bengal     EAST  2017-08-11  2017-08-21
13          Punjab    NORTH  2019-07-30  2019-08-22
14  Madhya Pradesh  CENTRAL  2016-08-04  2016-08-26
15       Telangana    SOUTH  2016-09-20  2016-09-30

In [44]:
df_floods["YEAR"] = df_floods["start_date"].apply(lambda x: x[:4])

In [45]:
df_floods

             state    basin  start_date    end_date  YEAR
0      Uttarakhand  CENTRAL  2015-08-14  2015-08-20  2015
1        Jharkhand     EAST  2015-07-22  2015-08-08  2015
2          Gujarat     WEST  2017-07-21  2017-08-02  2017
3        Karnataka    SOUTH  2019-08-01  2019-08-11  2019
4           Odisha     EAST  2020-08-27  2020-09-05  2020
5        Rajasthan    NORTH  2017-07-21  2017-07-24  2017
6           Kerala    SOUTH  2018-08-08  2018-08-19  2018
7      Maharashtra     WEST  2019-07-22  2019-08-08  2019
8    Uttar Pradesh  CENTRAL  2017-08-11  2017-08-31  2017
9   Andhra Pradesh    SOUTH  2019-08-01  2019-08-19  2019
10           Bihar     EAST  2017-08-12  2017-08-31  2017
11      Tamil Nadu    SOUTH  2015-11-09  2015-12-01  2015
12     West Bengal     EAST  2017-08-11  2017-08-21  2017
13          Punjab    NORTH  2019-07-30  2019-08-22  2019
14  Madhya Pradesh  CENTRAL  2016-08-04  2016-08-26  2016
15       Telangana    SOUTH  2016-09-20  2016-09-30  2016

In [46]:
# Adding rainfall column to df_floods

dict_rainfall = dict(zip(df_rainfall["YEAR"],df_rainfall["JUN-SEP"]))

In [48]:
df_floods["rain_fall"] = df_floods["YEAR"].apply(lambda x: dict_rainfall[int(x)])

In [49]:
df_floods

             state    basin  start_date    end_date  YEAR  rain_fall
0      Uttarakhand  CENTRAL  2015-08-14  2015-08-20  2015      765.4
1        Jharkhand     EAST  2015-07-22  2015-08-08  2015      765.4
2          Gujarat     WEST  2017-07-21  2017-08-02  2017      843.7
3        Karnataka    SOUTH  2019-08-01  2019-08-11  2019      969.4
4           Odisha     EAST  2020-08-27  2020-09-05  2020     1097.1
5        Rajasthan    NORTH  2017-07-21  2017-07-24  2017      843.7
6           Kerala    SOUTH  2018-08-08  2018-08-19  2018      802.4
7      Maharashtra     WEST  2019-07-22  2019-08-08  2019      969.4
8    Uttar Pradesh  CENTRAL  2017-08-11  2017-08-31  2017      843.7
9   Andhra Pradesh    SOUTH  2019-08-01  2019-08-19  2019      969.4
10           Bihar     EAST  2017-08-12  2017-08-31  2017      843.7
11      Tamil Nadu    SOUTH  2015-11-09  2015-12-01  2015      765.4
12     West Bengal     EAST  2017-08-11  2017-08-21  2017      843.7
13          Punjab    NORTH  2019-07-30  2019-08-22  2019      969.4
14  Madhya Pradesh  CENTRAL  2016-08-04  2016-08-26  2016      863.7
15       Telangana    SOUTH  2016-09-20  2016-09-30  2016      863.7

In [71]:
df0.replace('.','-',inplace=True)

In [72]:
df0

,Index,REGION,100%,91-99%,81-90%,71-80,61-70%,51-60%,41-50%,40%-below,Date
1,1,"NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)",0,0,0,0,1,1,1,3,2018.06.14
3,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,2018.06.14
4,4,"WEST (Guj.& Mah.),\n(27 Resv.)",0,1,2,6,5,4,0,9,2018.06.14
5,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",0,0,0,0,2,3,1,6,2018.06.14
6,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",0,2,1,0,1,6,4,17,2018.06.14
...,...,...,...,...,...,...,...,...,...,...,...
2743,3,"EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...",2,1,2,2,1,3,2,2,2018.06.21
2744,4,"WEST (Guj.& Mah.),\n(27 Resv.)",0,1,2,6,5,4,0,9,2018.06.21
2745,5,"CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)",0,0,0,0,2,3,1,6,2018.06.21
2746,6,"SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...",0,2,1,0,1,6,4,17,2018.06.21
2749,9,Status of 91 reservoirs,2,4,5,8,10,17,8,37,2018.06.21

In [111]:
df_floods["start_date"] = df_floods["start_date"].str.replace('-','.')

In [112]:
df_floods["end_date"] = df_floods["end_date"].str.replace('-','.')

In [113]:
df_floods["start_date"] = df_floods["start_date"].apply(lambda x: x.strip())
df_floods["end_date"] = df_floods["end_date"].apply(lambda x: x.strip())

In [117]:
df_floods.drop([0,1],inplace=True)

In [152]:
# Getting Reservoir Level

def get_reservoir_level(basin, start_date, end_date):
    col="40%-below"
    # print(type(end_date))
    mask = df0["Date"].apply(lambda x: x>=start_date and x<=end_date if isinstance(x,str) else False)
    # mask = df0["Date"].apply(lambda x: print(type(x)))
    df_masked = df0[mask]
    if len(df_masked) == 0:
        return 1
    # print(df_masked)
    mask = df_masked["REGION"].apply(lambda x: basin in x)
    df_masked = df_masked[mask]
    if len(df_masked) == 0:
        return 1
    print(df_masked)
    mx = df_masked[col].max()
    # print(basin)
    # print(df0["100%"])
    return mx

In [153]:
df_floods['40%-below'] = df_floods.apply(lambda row: get_reservoir_level(row['basin'], row['start_date'], row['end_date']), axis=1)

      Index                          REGION 100% 91-99% 81-90% 71-80 61-70%  \
904       4  WEST (Guj.& Mah.),\n(27 Resv.)    0      1      2     6      5
1844      4  WEST (Guj.& Mah.),\n(27 Resv.)    0      1      2     6      5

     51-60% 41-50% 40%-below        Date
904       4      0         9  2017.07.27
1844      4      0         9  2017.07.27
      Index                                             REGION 100% 91-99%  \
226       6  SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...    0      2
2076      6  SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...    0      2

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
226       1     0      1      6      4        17  2019.08.08
2076      1     0      1      6      4        17  2019.08.01
      Index                                             REGION 100% 91-99%  \
1233      3  EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...    2      1
2203      3  EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...    2      1

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
1233      2     2      1      3      2         2  2020.09.03
2203      2     2      1      3      2         2  2020.08.27
      Index                          REGION 100% 91-99% 81-90% 71-80 61-70%  \
224       4  WEST (Guj.& Mah.),\n(27 Resv.)    0      1      2     6      5
1314      4  WEST (Guj.& Mah.),\n(27 Resv.)    0      1      2     6      5
2074      4  WEST (Guj.& Mah.),\n(27 Resv.)    0      1      2     6      5

     51-60% 41-50% 40%-below        Date
224       4      0         9  2019.08.08
1314      4      0         9  2019.07.25
2074      4      0         9  2019.08.01
      Index                                           REGION 100% 91-99%  \
1005      5  CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)    0      0
1945      5  CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)    0      0
2455      5  CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)    0      0

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
1005      0     0      2      3      1         6  2017.08.31
1945      0     0      2      3      1         6  2017.08.17
2455      0     0      2      3      1         6  2017.08.24
      Index                                             REGION 100% 91-99%  \
226       6  SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...    0      2
2076      6  SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...    0      2
2356      6  SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...    0      2

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
226       1     0      1      6      4        17  2019.08.08
2076      1     0      1      6      4        17  2019.08.01
2356      1     0      1      6      4        17  2019.08.14
      Index                                             REGION 100% 91-99%  \
1003      3  EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...    2      1
1943      3  EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...    2      1
2453      3  EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...    2      1

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
1003      2     2      1      3      2         2  2017.08.31
1943      2     2      1      3      2         2  2017.08.17
2453      2     2      1      3      2         2  2017.08.24
      Index                                             REGION 100% 91-99%  \
1943      3  EAST\n(Jharkhand,Odisha, Tripura &\nW.Bengal\n...    2      1

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
1943      2     2      1      3      2         2  2017.08.17
      Index                                      REGION 100% 91-99% 81-90%  \
221       1  NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)    0      0      0
391       1  NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)    0      0      0
2071      1  NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)    0      0      0
2351      1  NORTH\n(HP,Punjab & Rajasthan),\n(6 Resv.)    0      0      0

     71-80 61-70% 51-60% 41-50% 40%-below        Date
221      0      1      1      1         3  2019.08.08
391      0      1      1      1         3  2019.08.22
2071     0      1      1      1         3  2019.08.01
2351     0      1      1      1         3  2019.08.14
      Index                                           REGION 100% 91-99%  \
1445      5  CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)    0      0
1475      5  CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)    0      0
1605      5  CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)    0      0
2445      5  CENTRAL\n(MP,UP,Uttarakhand & Chh.),\n(12 Resv)    0      0

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
1445      0     0      2      3      1         6  2016.08.24
1475      0     0      2      3      1         6  2016.08.04
1605      0     0      2      3      1         6  2016.08.18
2445      0     0      2      3      1         6  2016.08.11
      Index                                             REGION 100% 91-99%  \
746       6  SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...    0      2
2276      6  SOUTH\n(Karnataka,TN,AP&TG,AP,\nTG, & Kerala),...    0      2

     81-90% 71-80 61-70% 51-60% 41-50% 40%-below        Date
746       1     0      1      6      4        17  2016.09.29
2276      1     0      1      6      4        17  2016.09.22

In [157]:
df_floods.to_csv('processed-data.csv')

In [155]:
df_floods["is_flood"] = 1

In [158]:
df_floods

,state,basin,start_date,end_date,YEAR,rain_fall,100%,91-99%,81-90%,71-80%,61-70%,51-60%,41-50%,40%-below,is_flood
2,Gujarat,WEST,2017.07.21,2017.08.02,2017,843.7,0,1,2,6,5,4,0,9,1
3,Karnataka,SOUTH,2019.08.01,2019.08.11,2019,969.4,0,2,1,0,1,6,4,17,1
4,Odisha,EAST,2020.08.27,2020.09.05,2020,1097.1,2,1,2,2,1,3,2,2,1
5,Rajasthan,NORTH,2017.07.21,2017.07.24,2017,843.7,1,1,1,1,1,1,1,1,1
6,Kerala,SOUTH,2018.08.08,2018.08.19,2018,802.4,1,1,1,1,1,1,1,1,1
7,Maharashtra,WEST,2019.07.22,2019.08.08,2019,969.4,0,1,2,6,5,4,0,9,1
8,Uttar Pradesh,CENTRAL,2017.08.11,2017.08.31,2017,843.7,0,0,0,0,2,3,1,6,1
9,Andhra Pradesh,SOUTH,2019.08.01,2019.08.19,2019,969.4,0,2,1,0,1,6,4,17,1
10,Bihar,EAST,2017.08.12,2017.08.31,2017,843.7,2,1,2,2,1,3,2,2,1
11,Tamil Nadu,SOUTH,2015.11.09,2015.12.01,2015,765.4,1,1,1,1,1,1,1,1,1
12,West Bengal,EAST,2017.08.11,2017.08.21,2017,843.7,2,1,2,2,1,3,2,2,1
13,Punjab,NORTH,2019.07.30,2019.08.22,2019,969.4,0,0,0,0,1,1,1,3,1
14,Madhya Pradesh,CENTRAL,2016.08.04,2016.08.26,2016,863.7,0,0,0,0,2,3,1,6,1
15,Telangana,SOUTH,2016.09.20,2016.09.30,2016,863.7,0,2,1,0,1,6,4,17,1

# Model : Mulitvariable Linear Regresssion

In [172]:
import numpy as np

In [215]:
df_no_flood = pd.DataFrame()

In [216]:
df_no_flood["40%-below"] = df_floods["40%-below"].apply(lambda x: int(x)+2)

In [222]:
df_no_flood["rain_fall"] = df_floods["rain_fall"].apply(lambda x: int(x)-100 if not np.isnan(x) else 500)

In [226]:
df_no_flood["100%"] = df_floods["100%"].apply(lambda x: int(x) - 1 if (int(x)-1)>=0 else 0)
df_no_flood["91-99%"] = df_floods["91-99%"].apply(lambda x: int(x) - 1 if (int(x)-1)>=0 else 0)
df_no_flood["81-90%"] = df_floods["81-90%"].apply(lambda x: int(x) - 1 if (int(x)-1)>=0 else 0)
df_no_flood["71-80%"] = df_floods["71-80%"].apply(lambda x: int(x) - 1 if (int(x)-1)>=0 else 0)
df_no_flood["61-70%"] = df_floods["61-70%"].apply(lambda x: int(x) - 1 if (int(x)-1)>=0 else 0)
df_no_flood["51-60%"] = df_floods["51-60%"].apply(lambda x: int(x) - 1 if (int(x)-1)>=0 else 0)
df_no_flood["41-50%"] = df_floods["41-50%"].apply(lambda x: int(x) - 1 if (int(x)-1)>=0 else 0)
df_no_flood["is_flood"] = -1

In [223]:
df_no_flood.replace(np.nan,500,inplace=True)

In [236]:
df_no_flood

,40%-below,100%,91-99%,81-90%,71-80%,61-70%,51-60%,is_flood,rain_fall,41-50%
2,11,0,0,1,5,4,3,-1,743,0
3,19,0,1,0,0,0,5,-1,869,3
4,4,1,0,1,1,0,2,-1,997,1
5,3,0,0,0,0,0,0,-1,743,0
6,3,0,0,0,0,0,0,-1,702,0
7,11,0,0,1,5,4,3,-1,869,0
8,8,0,0,0,0,1,2,-1,743,0
9,19,0,1,0,0,0,5,-1,869,3
10,4,1,0,1,1,0,2,-1,743,1
11,3,0,0,0,0,0,0,-1,665,0
12,4,1,0,1,1,0,2,-1,743,1
13,5,0,0,0,0,0,0,-1,869,0
14,8,0,0,0,0,1,2,-1,763,0
15,19,0,1,0,0,0,5,-1,763,3

In [237]:
from sklearn.model_selection import train_test_split

X = df_floods[["100%","91-99%","81-90%","71-80%","61-70%","51-60%","41-50%","rain_fall"]]
y = df_floods["is_flood"]

X = pd.concat([X,df_no_flood[["100%","91-99%","81-90%","71-80%","61-70%","51-60%","41-50%","rain_fall"]]],axis=0)
y = pd.concat([y,df_no_flood["is_flood"]],axis=0)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [238]:
# Print the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (22, 8)
X_test shape: (6, 8)
y_train shape: (22,)
y_test shape: (6,)

In [239]:
y_test

11    1
13   -1
10    1
9    -1
2     1
14    1
Name: is_flood, dtype: int64

In [241]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Create a linear regression model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Calculate Mean Squared Error (MSE) to evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Print the coefficients and intercept of the linear regression model
print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Mean Squared Error: 0.12452227799926519
Coefficients: [ 3.62092370e-01  2.93911304e-01  5.73181908e-01 -7.30087629e-01
  1.23584927e+00 -5.45317467e-01  6.86454629e-01  1.22345714e-03]
Intercept: -1.8515887545188494